langgraph
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-google-genai
langchain-tavily
sentence-transformers
faiss-cpu
pypdf
python-dotenv
streamlit
torchvision